body{
    background-color: #ece5da;
}
h2{
    background-color: rgb(209, 200, 206);
    color: #ece5da;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 1px;
    /*Ojo revisar multiplaforma*/
    font-weight: bold;
}

td{
  
    /*
    Sintaxis viene definida por 4 ejes, siguiento el movimiento de las
    agujas del reloj
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ;
        */
    padding: 25px;
    /*
    sintaxis, igualmente definida por 4 ejes, siguiendo movimiento de las agujas
    del reloj, el comportamiento es igual al margin pero no del elemento sino
    */
    
    font-weight: bold;
    
}
table{
    margin: 0 auto;
    text-align: center;
}

th img{
    width: 20%;
    padding: 5px;
}

div{
    text-align: center;
    margin: 0 auto;
}
.centrado{
    text-align: center;
    margin: 0 auto;
}
/*
div.centrado{
}
*/