h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: darkgrey;
}
p{
    background-color: #ededed;
    font-family: monospace;
    text-align: justify;
    font-size: larger;
}
nav{
width: 400px;
background-color: #e4d9e0;
margin: 0 auto;
}

li a{
    color: #238cf5;
}
span{
    background-color: #68aaec;
    padding: 30px;
    color: white;
    font-size: 50px;
    /*
    Display: Los valores mas utilizados de recursos más utiles para que varios
    elementos trabajen como bloque o en linea, estos serán;
    Block, que transforma los elementos en un bloque, ed: ocupará todo el espacio
    disponible en un solo elemento
    */
    display: block;
}
#tocar{
    opacity: 0;
    height: 0;
}
.desliz{
    width: 100%;
    height: 0px;
   
    overflow: hidden;
    /*
    overflow, atributo que recorta contenido, recorta con el atributo hidden
    */
    list-style: none;
  
}
.desliz li{
    padding: 20px;
    font-size: large;
    font-size: x-large;
    text-align: center;
}
/*
Asociacion de estilos a eventos, el inicio de css3
*/

#tocar:checked+.desliz{
    height: 360px;
}